<div class="px-5">
  <div class="py-3 border-b-8 border-lime-300 text-gray-600 text-center font-semibold text-xl">
    <span>Your work history</span>
  </div>
  <div class="mt-5">
    <app-card-view [data]="pinCode">
      <ng-container id="history">
        <div class=" border-b border-gray-400 pb-2 text-center">
          <span class="text-base block font-bold">Prushotampur</span>
          <span class="text-sm block">20 MAY, 2021</span>
        </div>
        <div class="px-2 text-sm">
          <div class="grid grid-cols-3 ">
            <div class="col-span-1 whitespace-nowrap font-semibold">Task Name</div>
            <div class="col-span-2">Harvesting of wheat Here, MIN is the Macro name x and y are the arguments.</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Owner Name</div>
            <div class="col-span-2">Ravinandan Pathak</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Number</div>
            <div class="col-span-2">+91 2345634526</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Deal price</div>
            <div class="col-span-2">250 ₹</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Paid amount</div>
            <div class="col-span-2 flex justify-between items-center">
              <input [value]="250" class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
              <span class="px-2 py-1 bg-blue-300 border border-blue-300 rounded-sm shadow-md mx-1 text-gray-800">Save</span>
            </div>
          </div>
        </div>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-3">
    <app-card-view [data]="pinCod1">
      <ng-container id="history">
        <div class=" border-b border-gray-400 pb-2 text-center">
          <span class="text-base block font-bold">Prushotampur</span>
          <span class="text-sm block">20 MAY, 2021</span>
        </div>
        <div class="px-2 text-sm">
          <div class="grid grid-cols-3 ">
            <div class="col-span-1 whitespace-nowrap font-semibold">Task Name</div>
            <div class="col-span-2">Harvesting of wheat Here, MIN is the Macro name x and y are the arguments.</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Owner Name</div>
            <div class="col-span-2">Ravinandan Pathak</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Number</div>
            <div class="col-span-2">+91 2345634526</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Deal price</div>
            <div class="col-span-2">250 ₹</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Paid amount</div>
            <div class="col-span-2 flex justify-between items-center">
              <input value="200" class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
              <span class="px-2 py-1 bg-blue-300 border border-blue-300 rounded-sm shadow-md mx-1 text-gray-800">Save</span>
            </div>
          </div>
        </div>
      </ng-container>
    </app-card-view>
  </div>

  <div class="mt-3">
    <app-card-view [data]="pinCod2">
      <ng-container id="history">
        <div class=" border-b border-gray-400 pb-2 text-center">
          <span class="text-base block font-bold">Prushotampur</span>
          <span class="text-sm block">20 MAY, 2021</span>
        </div>
        <div class="px-2 text-sm">
          <div class="grid grid-cols-3 ">
            <div class="col-span-1 whitespace-nowrap font-semibold">Task Name</div>
            <div class="col-span-2">Harvesting of wheat Here, MIN is the Macro name x and y are the arguments.</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Owner Name</div>
            <div class="col-span-2">Ravinandan Pathak</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Number</div>
            <div class="col-span-2">+91 2345634526</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Deal price</div>
            <div class="col-span-2">250 ₹</div>
          </div>
          <div class="grid grid-cols-3 mt-1">
            <div class="col-span-1 whitespace-normal font-semibold">Paid amount</div>
            <div class="col-span-2 flex justify-between items-center">
              <input value="" class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
              <span class="px-2 py-1 bg-blue-300 border border-blue-300 rounded-sm shadow-md mx-1 text-gray-800">Save</span>
            </div>
          </div>
        </div>
      </ng-container>
    </app-card-view>
  </div>
</div>
