<div class="w-3/4 py-2 bg-white absolute shadow right-0 top-0 z-50 mr-20 rounded mt-14" *ngIf="toggle" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;">
  <div class="w-4 h-4 bg-white transform rotate-45 float-right -mt-4 mr-2.5"></div>
  <div class="px-2 py-2 ">
    <span class="text-base text-gray-600">Notifications</span>
  </div>
  <hr class="text-gray-400">
  <div class=" h-80 overflow-scroll" >
      <div *ngFor="let item of [1,2,3,4,5,6,7,8,9]" class="px-3 pt-5 pb-2 text-xs flex justify-start items-start">
        <div>
          <span  class="text-xs px-2 py-2 text-center ml-2 border border-green-300 bg-green-300  rounded-full text-green-900 uppercase">
            MP
           </span>
        </div>
        <div class="ml-2 -mt-2">
          <span class="text-accent-1000  font-semibold">Manish Pandey</span>
          <span  class="text-accent-1000"> has requested you to  has requested you to  has requested you to.... </span>
          <div>
           <span  class="text-accent-1000"> Agarsanda Behara </span>
           <span  class="text-accent-1000 block"> 2H ago </span>
          </div>
        </div>
      </div>
  </div>
</div>
