
<div class=" mt-5 bg-white mx-10 py-2 rounded-md">
  <app-tools (addNew)="addNew()"  [inputData]="{name:'Work'}"></app-tools>
</div>
<div class="w-full px-10 grid grid-cols-3" style="max-height: calc(100vh - 12rem);">
    <div *ngFor="let card of data" class="bg-white rounded-sm my-3" style="width:25vw;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
        <div class="flex justify-between mx-8 pt-8">
            <div>
                <span style="font-size: 1.1vw;" class="text-gray-700">{{card.chartName}}</span>
            </div>
            <div>
                <span *ngIf="card.chartListStatus" class="px-4 py-1 bg-green-200 text-green-900 text-xs rounded-full">Active</span>
                <span *ngIf="!card.chartListStatus" class="px-4 py-1 bg-red-200 text-red-900 text-xs rounded-full">Inactive</span>
            </div>
        </div>
        <div class="flex justify-between mx-8 mt-1">
          <div>
              <span style="font-size: 0.8vw;" class="text-secondary-50">Released date</span>
          </div>
          <div>
              <span style="font-size: 0.8vw;" class="text-secondary-50">{{card.createdTime | date:"mediumDate"}}</span>
          </div>
        </div>
        <div class="w-full h-2 bg-secondary-350 "></div>
        <div class="flex justify-around mx-8 mt-3 text-center">
          <div>
              <span class="text-secondary-50 text-base font-semibold">Total work count</span>
              <span class="block text-secondary-50 text-base font-semibold" style="font-size: 0.8vw;">30</span>
          </div>
        </div>
        <hr class="mt-2 text-secondary-350">
        <div class="flex flex-row-reverse py-2">
            <span class="px-2 py-1 hover:bg-gray-200 rounded-full mx-3 text-xs cursor-pointer" (click)="open(card)">Open</span>
            <span class="px-2 py-1 hover:bg-gray-200 rounded-full mx-3 text-xs cursor-pointer" (click)="edit(card)">Edit</span>
        </div>
    </div>

</div>

<app-form></app-form>
