<div class="overflow-x-auto">
  <div class="min-w-screen min-h-scree flex items-center justify-center font-sans ">
    <div class="w-full">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto" *ngIf="isShow">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="w-10"></th>
              <ng-container *ngFor="let item of header">
                <th class="py-3 px-6 text-left">{{item.header}}</th>
              </ng-container>
              <th class="py-3 px-6 text-left">Action</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <ng-container *ngFor="let x of data;let i=index">
              <tr class="border-b border-gray-200 hover:bg-gray-100" >
                <td>
                  <span class="line-clamp-3" >
                    <input (click)="selectedRow=i" [checked]="selectedRow===i"   id="comments"  name="comments" type="checkbox"class="focus:ring-0 h-4 w-4 mx-4 text-tertiary-700 border-secondary-250 rounded">
                 </span>
                </td>
                <ng-container *ngFor="let fieldName of header">
                  <td class="py-3 px-6 text-left">
                    <div class="flex items-center">

                      <div class="mr-2" *ngIf="fieldName.field=='name'">
                        <img class="w-6 h-6 rounded-full" src="../../../../assets/image/farmer.jpg" />
                      </div>

                      <span *ngIf="!fieldName.store && !fieldName.pipe">{{x[fieldName.field]}}</span>

                      <span *ngIf="fieldName.pipe=='date'">{{x[fieldName.field] | date:"mI"}}</span>

                      <span *ngIf="fieldName.pipe=='role'">{{x[fieldName.field][0].name }}</span>

                      <span *ngIf="fieldName.store">{{getStoreData(fieldName,x[fieldName.field] )}}</span>
                    </div>
                  </td>
                </ng-container>

                <td class="py-3 px-6 text-center">
                  <div class="flex item-center justify-center">
                    <div (click)="openView(x)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                      </svg>
                    </div>
                    <div (click)="openEditForm(x)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg>
                    </div>
                    <div (click)="deleteRequest(x)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-form (feedBack)="feedBack($event)"></app-form>
<app-view-formate></app-view-formate>
<app-conformation (response)="deleteItem($event)"></app-conformation>
