<div class="px-5">
  <div class="py-3 border-b-8 border-lime-300 text-gray-600 text-center font-semibold text-xl">
    <span>Price limit</span>
  </div>
  <div class="mt-5">
    <app-card-view [data]="pinCode">
      <ng-container id="price">
        <div class="grid grid-cols-3  text-sm">
          <div class="col-span-1">
            <span>Limit price</span>
          </div>
          <div class="col-span-2">
            <input type="text" #limit readonly [value]="250" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
          </div>
          <div class="">
            <span>Your price</span>
          </div>
          <div class="col-span-2">
            <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div  class=" px-5 mx-2 py-2 mt-1 rounded-md bg-blue-200 text-xs">
            Update
          </div>
          <div  class=" px-5 mx-2 py-2 mt-1 rounded-md bg-red-200 text-xs">
            Delete
          </div>
        </div>
      </ng-container>
    </app-card-view>
  </div>
  <div class="mt-5">
    <app-card-view [data]="pinCode2">
      <ng-container id="price">
        <div class="grid grid-cols-3  text-sm">
          <div class="col-span-1">
            <span>Limit price</span>
          </div>
          <div class="col-span-2">
            <input type="text" #limit readonly [value]="400" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
          </div>
          <div class="">
            <span>Your price</span>
          </div>
          <div class="col-span-2">
            <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"/>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <div  class=" px-5 mx-2 py-2 mt-1 rounded-md bg-blue-200 text-xs">
            Update
          </div>
          <div  class=" px-5 mx-2 py-2 mt-1 rounded-md bg-red-200 text-xs">
            Delete
          </div>
        </div>
      </ng-container>
    </app-card-view>
  </div>

  <div (click)="openForm()" class="py-2 mt-2 bg-yellow-500  text-gray-100 text-center ">
    <span class="text-2xl font-bold ">+</span>
  </div>
</div>


<app-form>
  <ng-container>
    <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-2">
      Add new work
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2" for="username" >
        Work
      </label>
      <select [value]="" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option value=""> Add new location</option>
      </select>
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Limit price
      </label>
      <input [value]="100" readonly type="text"  class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-normal mb-2"  for="password" >
        Your price
      </label>
      <input  type="text"  class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
  </ng-container>
</app-form>
